/* -- HOME STYLES -- */
.home_div {
  display: flex;
  max-width: 70vw;
  min-height: 80vh;
  background-color: black;
  background-color: var(--bgcolor);
  transform: scale(1.1);
  position: relative;
  transition: all 2s;
}
.Hubble {
  display: flex;
  justify-content: center;
  align-items: center;
  /* word-wrap: break-word; */
  font-size: 2rem;
  position: absolute;
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  background-color: var(--txtcolor);
  position: relative;
}
.Hubble:nth-child(2) {
  position: absolute;
  top: 10%;
  left: 20%;
}
.Hubble:nth-child(3) {
  position: absolute;
  top: 60%;
  left: 70%;
}
.Hubble:nth-child(1) {
  position: absolute;
  top: 60%;
  left: 20%;
}
.Hubble:nth-child(4) {
  position: absolute;
  top: 10%;
  left: 70%;
}
.Hubble:nth-child(5){
    position: absolute;
    top: 35%;
    left: 43%;
}
.Hubble:nth-child(2)::after {
  content: "";
  width: 32rem;
  height: 0.2rem;
  background-color: var(--txtcolor);
  position: absolute;
  top:95%;
  left: 65%;
  transform: rotate(-145deg);
}

.Hubble:nth-child(3)::after {
  content: "";
  width: 34rem;
  height: 0.2rem;
  background-color: var(--txtcolor);
  position: absolute;
  bottom: 120%;
  right:80%;
  transform: rotate(208deg);
}

.Hubble:nth-child(1)::after {
  content: "";
  width: 36rem;
  height: 0.2rem;
  background-color: var(--txtcolor);
  position: absolute;
  top:0;
  left:40%;
  transform: rotate(-38deg);
}

.Hubble:nth-child(4)::after {
  content: "";
  width: 34rem;
  height: 0.2rem;
  background-color: var(--txtcolor);
  position: absolute;
  top:12rem;
  right:10rem;
  transform: rotate(-30deg);
}